*{
    box-sizing: border-box;
}
    
/*
.container{
    width: 520px;
    margin: 100px auto;
    border-radius: 5px;
    height: auto;

}*/
.bg{
    background-image: url(/images/akan.jpg);
    background-size: cover;
    position: relative;
    max-width: 100%;
    margin-top: 0;
}
.block{
    width: 352px;
    margin-left: 20px;
    display: inline-block;
    padding: 5px 20px;
    
}
.form-check-input{
    display: inline !important;

    
}