*{
    box-sizing: border-box;
}
    
.container-1{
    text-align: center;
    background-color: rgb(221, 221, 235);
}
.container{
    width: 520px;
    color: whitesmoke;
    margin: 0px;
    border-radius: 5px;
    height: auto;
    background-image: url(/images/akan.jpg);

}
/*
.bg{
    background-image: url(/images/akan.jpg);
    background-size: cover;
    position: relative;
    max-width: 100%;
    margin-top: 0;
}
*/
.block{
    width: 352px;
    margin-left: 20px;
    display: inline-block;
    padding: 5px 20px;
    
}
.form-check-input{
    display: inline !important;

    
}
.footer{
    color: black;
    background-color: rgb(209, 209, 212);
    padding-top: 10px;
}