*{
    box-sizing: border-box;
    
}

}
.container{
    width: 520px;
    margin: 100px auto;
    border-radius: 5px;
    height: auto;
}
.block{
    width: 352px;
    margin-left: 20px;
    display: inline-block;
    padding: 5px 20px;
    
}
.form-check-input{
    display: inline !important;

    
}